build-NETB380_ExpenseManager-Desktop_Qt_5_15_0_MinGW_64_bit-Debug
NETB380_ExpenseManager/NETB380_ExpenseManager.pro.user
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/ui_ep_register.h
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/ui_ep_main.h
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/ui_ep_db_settings.h
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/Makefile.Release
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/Makefile.Debug
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/Makefile
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/NETB380_ExpenseManager.vc.pdb
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/NETB380_ExpenseManager.pdb
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/NETB380_ExpenseManager.ilk
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/NETB380_ExpenseManager.exe
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_predefs.h
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_userdata.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_userdata.cpp
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_reportmain_wrapper.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_reportmain_wrapper.cpp
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_register.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_register.cpp
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_main.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_main.cpp
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_eventdispatcher.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_eventdispatcher.cpp
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_db_wrapper.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_db_wrapper.cpp
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_db_settings.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/moc_ep_db_settings.cpp
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/main.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/ep_userdata.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/ep_reportmain_wrapper.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/ep_register.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/ep_main.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/ep_eventdispatcher.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/ep_db_wrapper.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug/ep_db_settings.obj
build-NETB380_ExpenseManager-Desktop_x86_windows_msvc2019_pe_64bit-Debug/.qmake.stash
